* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  padding: 0px px;
}

p {
  font-size: 1.5rem;
}

h2 {
  margin-bottom: 30px;
  font-size: 2.5rem;
}

h4 {
  margin-bottom: 20px;
}

ul {
  list-style-type: none;
}

li {
  padding: 5px 0;
}

/* UTILITY */

.debug,
.debug * {
  min-height: 50px;
  padding: 5px;
  background-color: #ff000022;
  border: 2px dashed red;
}

.container {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.small-button {
  min-width: 50px;
  background-color: white;
  color: black;
  border: none;
  border-radius: 50px;
  padding: 5px 10px;
}

.big-button {
  min-width: 200px;
  background-color: white;
  color: black;
  border: none;
  border-radius: 50px;
  padding: 10px 20px;
  font-size: 1.5rem;
}

.aqua {
  background-color: #667ac0;
  color: white;
}

/* HEADER */

header {
  background-color: #255ee9;
}

.page-header {
  display: flex;
}

.container.page-header > * {
  border: none;
  background-color: #255ee9;
  margin-bottom: 10px;
  margin-top: 10px;
  display: flex;
  flex-grow: 1;
}

.links {
  align-items: center;
  display: inline-block;
  justify-content: space-around;
  color: white;
}

.login {
  justify-content: flex-end;
  align-items: center;
}

.logo {
  justify-content: flex-start;
  align-items: center;
  height: 30px;
  display: flex;
}

.foot-header {
  background-image: url(../img/jumbo.png);
  color: white;
  display: flex;
  height: 750px;
  background-position: center bottom;
  background-size: contain;
  background-repeat: no-repeat;
  align-items: center;
}

.container.pic {
  flex-basis: 60%;
  text-align: center;
  font-size: 1.5rem;
}

.container.pic > * {
  margin-bottom: 20px;
}

/* MAIN */

section.white {
  background-color: white;
  padding-top: 10px;
  padding-bottom: 10px;
}

.white > .container {
  display: flex;
  border: none;
  align-items: center;
}

section.grey {
  background-color: lightgray;
  padding-top: 10px;
  padding-bottom: 10px;
}

.grey > .container {
  display: flex;
  border: none;
  flex-direction: row-reverse;
  align-items: center;
}

.blue {
  flex-basis: 67%;
}

.pink {
  flex-basis: 33%;
}

.grey > .container.green {
  text-align: center;
  justify-content: center;
}

main {
  flex-grow: 1;
}

.bottom-text {
  justify-content: center;
  display: block;
  text-align: center;
}

.bottom-text > .container {
  background-image: url(../img/stars.svg);
  background-position: top center;
  background-size: contain;
  background-repeat: no-repeat;
}

/* FOOTER */

footer {
  background-color: #23272a;
  padding-top: 10px;
}

footer {
  color: #7289da;
}

.first-section > * {
  padding: 5px;
}

.logos {
  padding-right: 5px;
}

.head-footer {
  display: flex;
  border-bottom: 2px solid white;
  padding-bottom: 20px;
  padding-top: 20px;
}

.pink {
  flex-basis: 33%;
}

.aquamarine {
  flex-basis: 67%;
  display: flex;
}

.container.aquamarine > .container {
  flex-basis: 25%;
}

.container.bot-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  margin-top: 30px;
  padding-bottom: 20px;
}
